<div class="w-full flex justify-start items-center p-10">
    <button type="button" class="w-full flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-black border rounded-lg gap-x-2 sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700" (click)="goBack()">
        <svg class="w-5 h-5 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
        </svg>
        <span [i18n]="'NEW_HERO.BACK_BTN'"></span>
    </button>
</div>
<section class="w-full bg-cover bg-center py-24 lg:flex justify-center items-center">
    <form class="lg:w-1/2 md:w-full sm:w-full lg:flex justify-center px-6" action="" [formGroup]="newHeroForm">
        <div class="max-w-md w-full bg-white rounded p-6 ">

            <div class="mb-4">
                <h1 class="text-xl font-bold" [i18n]='"NEW_HERO.INTRO_HEADER"'></h1>
            </div>
            <div>
                <input formControlName="name" class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600" type="text" [placeholder]="translate.instant('NEW_HERO.FORM.NAME')" >
            </div>
            <div class="h-2 pt-0 pb-4" >
                <ng-container *ngIf="newHeroForm.controls['name'].invalid && (newHeroForm.controls['name'].dirty || newHeroForm.controls['name'].touched)">
                    <small class=" text-sm text-red-500" [i18n]='"NEW_HERO.VALIDATORS.NAME"' *ngIf="newHeroForm.controls['name'].errors"></small>
                </ng-container>                      
            </div>


            <div class="pt-2">
                <input formControlName="power" [placeholder]="translate.instant('NEW_HERO.FORM.POWER')" class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600" type="text">
            </div>
            <div class="h-2 pt-0 pb-4" >
                <ng-container *ngIf="newHeroForm.controls['power'].invalid && (newHeroForm.controls['power'].dirty || newHeroForm.controls['power'].touched)">
                    <p class=" text-sm text-red-500" [i18n]='"NEW_HERO.VALIDATORS.POWER"' *ngIf="newHeroForm.controls['power'].errors"></p>
                </ng-container>
            </div>

            <div class="pt-2">
                <input formControlName="avatar" class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600" type="text" [placeholder]="translate.instant('NEW_HERO.FORM.URL')" >
            </div>
            <div class="h-2 pt-0 pb-4" >
                <ng-container *ngIf="newHeroForm.controls['avatar'].invalid && (newHeroForm.controls['avatar'].dirty || newHeroForm.controls['avatar'].touched)">
                    <small class=" text-sm text-red-500" [i18n]='"NEW_HERO.VALIDATORS.URL"' *ngIf="newHeroForm.controls['avatar'].errors"></small>
                </ng-container>                      
            </div>

            <div class="pt-2">
                <input formControlName="height" class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600" type="number" [placeholder]="translate.instant('NEW_HERO.FORM.HEIGHT')" >
            </div>
            <div class="h-2 pt-0 pb-4" >
                <ng-container *ngIf="newHeroForm.controls['height'].invalid && (newHeroForm.controls['height'].dirty || newHeroForm.controls['height'].touched)">
                    <small class=" text-sm text-red-500" [i18n]='"NEW_HERO.VALIDATORS.HEIGHT"' *ngIf="newHeroForm.controls['height'].errors"></small>
                </ng-container>                      
            </div>

            <div class="pt-4">
                <button (click)="createNewHero()" [ngClass]="{'opacity-60': !newHeroForm.valid}" [disabled]="!newHeroForm.valid || isLoading" class="w-full rounded-md bg-black px-3 py-4 text-white">
                    
                    <span *ngIf="!isLoading">{{ 'NEW_HERO.CREATE_BTN' | translate }}</span>

                        <ng-container *ngIf="isLoading">
                            <svg  aria-hidden="true" role="status" class="inline mr-2 w-4 h-4 text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"></path>
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"></path>
                                </svg>
                        </ng-container>

                </button>
            </div>
        </div>
    </form>
</section>